@charset "UTF-8" ; 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family:'idroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor1:#3D6617 ;
    --cor2:#243316 ; 
    --cor3:#A5CC81 ;
    --cor4:#E1FFC4 ; 

    --fonte-padrão: Arial , Verdana , Helvetica , sans-serif;
    --fonte-destaque: 'Bebas neue' , cursive ; 
    --fonte-android:'idroid', cursive ; 

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor4); 
    font-family: var(--fonte-padrão);
}

header {
    background-image: linear-gradient(to top , var(--cor2), var(--cor1), var(--cor3));
    color: white;
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}

header h1 {
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.442);
}

header  p {
    font-family: var(--fonte-padrão);
    max-width: 500px; 
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.442)
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 7px 7px  rgba(0, 0, 0, 0.319);
}

nav  a {
    padding: 7px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
    transition-duration: .7;
}

nav  a:hover {
    background-color: rgba(131, 212, 54, 0.678)
    
}

main {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main p {
    font-family: var(--fonte-padrão);
    font-size: 1em;
    line-height: 2em;
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
}

main strong {
    font-weight: bold;
    color: var(--cor2);
}
main a {
    text-decoration: none;
    color: #3D6617;
    background-color: #94eb43;
    padding: 2px 6px;
    border-radius: 1px;
}

main  a:hover {
    text-decoration: underline;
    color: rgb(228, 75, 75);
}

main  h1 {
    font-family:var(--fonte-android);
    color: var(--cor1);
    font-size: 1.5em;
    font-weight: normal;
}

main  h2 {
    font-family: var(--fonte-android);
    color: var(--cor1);
    font-size: 1.2em;
    background-image: linear-gradient(to right , var(--cor3), transparent);
    text-indent: 8px;
    border-radius: 2px;
    font-weight: normal;
}

main  img {
    width: 100%;
    
}

main  img.pequena {
    max-width: 350px;
    margin: auto;
    display: block;

}

div.video {
    background-color: var(--cor2);
    margin: 0px -20px 30px -20px ;
    padding: 20px;
    position: relative;
    padding-bottom: 56.85%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.374);
}

aside h3 {
    background-color:var(--cor1);
    margin: -10px -10px 0px -10px;
    padding: 10px;
    border-radius: 6px 6px 0px 0px;
    color: white;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: #243316;
    color: white;
    text-align: center;
    padding: 5px;
}
